
body {
    font-family: Arial, sans-serif;
    background-color: #f3f7f3;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 50px auto;
    background-color: #9dbfdb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #5bb87a;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    background-color: #73b98a;
    color: #8a6969;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #93b9e2;
}